:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
header {
    background-color: #0e1013;
    padding: 0.2em;
}
header .title {
    font-size: 17px;
    color: #fff;
}
main {
    display: flex;
    flex-grow: 1;
}
.map-container {
    flex-grow: 1;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    padding: 0.5em;
}
.subtitle {
    font-size: 17px;
    color: #fff;
}
.green {
    background-color: green;
}

.red {
    background-color: red;
}